<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Skills</title>
</head>
<body>
    <h1>Jordan's Dev Skills</h1>
    <ul>
        <% myDevSkills.forEach(function(s) { %>
            <li>
            <a href=<%= `/skills/${s.skill}` %>><%= s.skill %></a>
            </li>
        <% }); %>
</body>
</html>