<%- include('../partials/header') %>
            <a href="/skills/"><%= myDevSkill.skill %></a>
            <hr>
            <p><%= myDevSkill.proficiency %></p>
<%- include('../partials/footer') %>         